* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*CSS do cabeçalho da página*/

header {
    background-color: #6c63ff;
    box-shadow: 0px 3px 10px #242424;
}


body {
    background-color: #0c0ce94d;
}

/*CSS do menu da página*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem; /*Serve para deixar nosso nav responsivo*/
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10rem;
}

.navList {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.navLink:hover {
    color: #0c0ce94d;
}

.dropDown ul {
    width: 9rem;
    background-color: #6c63ff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.dropDownMenu {
    position: absolute;
    display: none;
    width: 6.5rem;
    align-items: center;
    background-color: transparent;
}

.dropDownMenu a {
    display: block;
    color: #fff;
    margin: 5px;
}

.dropDown:hover .dropDownMenu{
    display: block; /*FAZ O MENU DROPDOWN FICAR UM LINK EMBAIXO DO OUTRO*/
    justify-content: space-between;
}

.dropDownMenu a:hover {
    color: #0c0ce94d;
    border-radius: 5px;
}

#menu,
.dropDownMenu {
    margin-left: 10rem;
    margin-right: 2rem;
}

/*CSS do conteudo principal*/

.animais {
    display: flex;
    justify-content: space-evenly;
}

.animais img {
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    border: solid 2px #fff;
    margin: 1rem;
}

.boxAnimal {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #6c63ff;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #242424;
}

.animais a {
    text-decoration: none;
    font-style: italic;
    color: #fff;
}

.animais a:hover {
    color: #242424;
}

/*CSS do footer*/
.contato {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.contato img {
    width: 3.5rem;
}

.fontes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.fontes a {
    text-decoration: none;
    color: blue;
}

.fontes a:hover {
    color: #0c0ce94d;
}

footer {
    margin-top: 1rem;
    text-align: center;
}

footer p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}